.l-main {
    position: relative;
    width: 780px;
    height: 1000px;
    background-image: url(/images/tv.png);
    background-repeat: no-repeat;
    background-size: contain;
    // z-index: -1;
}