.c-parameter {
    background-image: url(/images/parameter.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 80px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
}
