.c-ramiel {
    width: 120px;
    height: 100px;
    position: absolute;
    left: 30px;
    top: 170px;
    animation: shake .1s 2.9s 10,
                transparency 1.5s 5.5s,
                change .1s 6.2s forwards;
}
@keyframes shake {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(4px, 4px) rotateZ(1deg)}
    50% {transform: translate(0px, 4px) rotateZ(0deg)}
    75% {transform: translate(4px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

@keyframes transparency {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes change {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(-1, 1);
        left: 480px;
    }
}

